* {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: black;
	font-size: 25px;
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	color: white;
	font-size: 25px;
}
.typed {
	color: red;
	font-size: 25px;
}
.container {
	max-width: 1100px;
	text-align: center;
	padding: 2px;
}
